.input-container {
  margin-left: 5%;
  margin-top: 2%;
}

.input-container input {
  display: inline-block;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(137, 86, 175);
  width: 60%;
  color: rgb(137, 86, 175);
}

.input-container input:focus {
  outline: none;
}