.drug-container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  padding-top: 25%;
}

.drug-line-container {
  position: relative;
  margin: 20px 0 20px 0;
  background-color: rgb(224, 224, 210);
  border: 2px solid rgb(137, 86, 175);
  border-radius: 3px;
  font-size: 3vw;
  filter: drop-shadow(0 0 12px rgb(137, 86, 175));
}

.drug-line-container h2, .drug-line-container p {
  text-align: center;
  color: rgb(223, 95, 52);
  text-shadow: #ffcc00 1px 0 5px;
  margin: 2px 0 0 0;
}

.drug-line-container p {
  font-size: 4vw;
}

.drug-line-container::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  background-color: rgb(224, 224, 210);
  border: 2px solid rgb(137, 86, 175);
  border-radius: 3px;
  filter: drop-shadow(0 0 1px white);
  z-index: -1;
}
