.reset-btn {
  position: fixed;
  top: 5px;
  left: 5px;
  color: var(--btn-color);

  &.gray {
    color: gray;
  }
}

.settings-btn {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  color: var(--btn-color);
  animation: spin 5s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: absolute;
  left: 10%;
  width: 80%;
  height: var(--container-height);
  margin-bottom: var(--container-bottom);
  overflow: scroll;
  border-radius: var(--container-radius);
  scrollbar-width: none;
}

.drug-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  padding-top: 25%;

}

.drug-line-container {
  position: relative;
  margin: 20px 0 20px 0;
  padding: 5px 0;
  background-color: var(--show-background);
  border: var(--border-gore);
  border-radius: var(--border-radius);
  font-size: 3vw;
  filter: var(--border-shadow);
  transition: 300ms ease all;
}

.drug-line-container h2, .drug-line-container p {
  text-align: center;
  color: var(--show-text);
  text-shadow: var(--show-shadow);
  margin: 2px 0 0 0;
  transition: 300ms ease all;
}

.drug-line-container p {
  font-size: 4vw;
}

.drug-line-container::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  background-color: var(--background-after);
  border: var(--border-after);
  border-radius: var(--border-radius);
  filter: var(--shadow-after);
  transition: 300ms ease all;
  z-index: -1;
} 
