.main-container {
  height: 100vh;
  background-color: rgb(13, 13, 13);
  overflow: scroll;
}

.settings-btn {
  position: sticky;
  top: 0;
  right: 0;
  float: right;
  background-color: rgb(13, 13, 13);
  color: rgb(137, 86, 175);
  z-index: 1;
}
