* {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(13, 13, 13);
  --show-background: rgb(224, 224, 210);
  --show-text: rgb(223, 95, 52);
  --show-shadow: #ffcc00  1px 0 5px;
  --edit-text: rgb(65, 231, 9);
  --shrink-text: rgb(187, 225, 183);
  --border-radius: 5px;
  --border-gore: 2px solid rgb(119, 55, 168);
  --border-shadow: drop-shadow(0 0 12px rgb(137, 86, 175));
  --border-after: 2px solid rgb(119, 55, 168);
  --shadow-after: drop-shadow(0 0 1px white);
  --background-after: rgb(224, 224, 210);
  --container-height: 100%;
  --container-bottom: none;
  --container-radius: none;
  --settings-background: rgb(13, 13, 13);
}

[data-theme='wrong'] {
  --background-color: rgb(13, 13, 13);
  --show-background: rgb(18, 18, 18);
  --show-text: rgb(65, 231, 9);
  --show-shadow: #ffcc00  1px 0 5px;
  --edit-text: rgb(223, 95, 52);
  --border-radius: 33px;
  --border-gore: 1px solid rgb(137, 86, 175);
  --border-shadow: drop-shadow(0 0 7px rgb(137, 86, 175));
  --border-after: none;
  --shadow-after: none;
  --background-after: none;
  --container-height: 100%;
  --container-bottom: none;
  --container-radius: none;
  --settings-background: rgb(13, 13, 13);
}

[data-theme='light'] {
  --background-color: rgb(224, 224, 210);
  --show-background: rgb(224, 224, 210);
  --show-text: rgb(65, 231, 9);
  --show-shadow: #ffcc00 1px 0 5px;
  --edit-text: rgb(223, 95, 52);
  --shrink-text: rgb(143, 187, 139);
  --border-radius: 5px;
  --border-gore: 2px solid rgb(137, 86, 175);
  --border-shadow: drop-shadow(0 0 12px rgb(137, 86, 175));
  --border-after: 2px solid rgb(137, 86, 175);
  --shadow-after: drop-shadow(0 0 1px white);
  --background-after: rgb(224, 224, 210);
  --container-height: 100%;
  --container-bottom: none;
  --container-radius: none;
  --settings-background: rgb(224, 224, 210);
}

[data-theme='hell'] {
  --background-color: none;
  --background-image: url('./assets/background.png');
  --background-repeat: no-repaet;
  --background-position: center bottom;
  --background-attachment: fixed;
  --show-background: none;
  --margin-bottom-drugs: 33%;
  --border-bottom-drugs: 0 0 40% 40%;
  --show-text: #F95837;
  --show-shadow: #ffcc00 1px 0 1px;
  --edit-text: #F95837;
  --border-radius: 33px;
  --border-gore: 1px solid #F95837;
  --border-shadow: drop-shadow(0 0 10px #F95837);
  --border-after: none;
  --shadow-after: none;
  --background-after: none;
  --container-height: 83%;
  --container-bottom: 17%;
  --container-radius: 0 0 50% 50% / 15%;
  --settings-background: rgb(13, 13, 13);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}