.nav-container  {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: rgb(137, 86, 175);
  width: 100vw;
  height: 30px;
  transition: 300ms ease all;
  z-index: 2;

  &.settings {
    background-color: var(--settings-background);
  }
}

.save-btn {
  position: fixed;
  top: 5px;
  left: 5px;
}

.cross-btn {
  position: fixed;
  top: 5px;
  right: 5px;
}

.settings-container {
  background-color: var(--settings-background);
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 15% 10% 10% 10%;
  font-size: 22px;
}

.input-container {
  position: relative;
  height: 100px;
  margin-bottom: 40px;
}

.delete-button {
  position: absolute;
  top: 45%;
  right: 5%;
  color:rgb(65, 231, 9);
}

.add-button {
  position: fixed;
  left: 5px;
  bottom: 5px;
  color:rgb(65, 231, 9);
  filter: drop-shadow(1px 1px);
}
