.nav-container  {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: rgb(137, 86, 175);
  width: 100vw;
  height: 30px;
  transition: 300ms ease all;
  z-index: 2;
}

.save-btn {
  position: fixed;
  top: 5px;
  left: 5px;
}

.cross-btn {
  position: fixed;
  top: 5px;
  right: 5px;
}

.settings-container {
  width: 75%;
  margin: auto;
  padding-top: 15%;
  padding-bottom: 10%;
}

.input-container {
  position: relative;
  height: 80px;
  margin-bottom: 40px;
}

.delete-button {
  position: absolute;
  top: 45%;
  right: 5%;
  color:rgb(65, 231, 9);
}

.add-button {
  position: fixed;
  left: 5px;
  bottom: 5px;
  color:rgb(65, 231, 9);
  filter: drop-shadow(1px 1px);
}