.cross-btn {
  position: sticky;
  top: 0;
  right: 0;
  float: right;
  color: rgb(137, 86, 175);
}

.settings-container {
  max-width: 75%;
  padding-top: 10px;
}

.settings-container h2 {
  color: rgb(137, 86, 175);
  color:rgb(65, 231, 9);
  text-shadow: 1px 1px;
}

.input-container {
  border-bottom: 2px solid rgb(137, 86, 175);
}

.delete-button {
  float: right;
  padding-bottom: 40%;
  color: rgb(137, 86, 175);
  color:rgb(65, 231, 9);
  filter: drop-shadow(1px 1px);
}

.add-button {
  color: rgb(137, 86, 175);
  margin: 5% 0 0 5%;
  color:rgb(65, 231, 9);
  filter: drop-shadow(1px 1px);
}