.cross-btn {
  position: sticky;
  top: 0;
  right: 0;
  float: right;
  color: rgb(137, 86, 175);
}

.settings-container {
  max-width: 75%;
  padding-top: 10px;
}

.settings-container h2 {
  font-size: 10px;
  color: rgb(137, 86, 175);
}

.settings-container p {
  font-size: 10px;
  color: rgb(137, 86, 175);
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(137, 86, 175);
  color: rgb(65, 231, 9);
}

input:focus {
  outline: none;
}

.input-container {
  position: relative;
  margin-bottom: 55px;
}

.delete-button {
  position: absolute;
  top: 45%;
  right: 5%;
  color:rgb(65, 231, 9);
}

.add-button {
  margin: 5% 0 0 5%;
  color:rgb(65, 231, 9);
  filter: drop-shadow(1px 1px);
}